* {
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
}

/* Global CSS */

.heading {
  color: black;
  font-size: 55px;
  font-weight: 600;
  padding: 10px 0px;
}

.sub-heading {
  font-size: 30px;
  font-weight: 400;
  padding: 10px 0px;
}

p {
  color: black;
  font-size: 16px;
}

img {
  text-align: center;
  width: 100%;
}